@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 320px;
    background-color: black;
}

header > .div_header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

header > .div_header > img{
    width: 8rem; /* ou 128px8*/
    height: 8rem;
    border-radius: 50%;
    transition: 0.6s;
}

header > .div_header > img:hover{
    transform: scale(1.1);
}

header > .div_header > h1{
    color: white;
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-weight: bold;
}

header > .div_header > span{
    color: white;
    font-weight: 500;
}

header > .div_header > #div_horario_header{
    margin-top: 1.25rem;
    padding: 0.3rem;
    background-color: rgb(17, 145, 17);
    border-radius: 20px;
}

header > .div_header > #div_horario_header > span{
    color: white;
    font-weight: 600;
}

h2{
    text-align: center;
    margin: 1.75rem;
}

/*Estelizando o main*/
body > .menu{
    display: flex;
    flex-direction: column;
}

body > .menu > main,
body > .menu > .bebidas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 7px;
    justify-items: center;
    padding: 8px;
}

body > .menu > main > .produto,
body > .menu > .bebidas > .produto{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 10px;
}

body > .menu > main > .produto > img,
body > .menu > .bebidas > .produto > img{
    width: 7rem; /* ou 128px8*/
    height: 7rem;
    border-radius: 8px;
    transition: 0.6s;
}

body > .menu > main > .produto > img:hover,
body > .menu > .bebidas > .produto > img:hover{
    transform: scale(1.1);
}

body > .menu > main > .produto > .descricao_produto > .nome_produto,
body > .menu > .bebidas > .produto > .descricao_produto > .nome_produto{
    font-weight: bold;
}

body > .menu > main > .produto > .descricao_produto > .valor_produto,
body > .menu > .bebidas > .produto > .descricao_produto > .valor_produto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

body > .menu > main > .produto > .descricao_produto > .valor_produto > p,
body > .menu > .bebidas > .produto > .descricao_produto > .valor_produto > p{
    font-size: 1.20rem;
    font-weight: bold;
}

body > .menu > main > .produto > .descricao_produto > .valor_produto > button,
body > .menu > .bebidas > .produto > .descricao_produto > .valor_produto > button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

body > footer{
    width: 100%;
    height: 6%;
    background-color: red;
    padding: 5px;
    position: fixed;
    bottom: 0; /* Alinha o footer no bottom da página */
    left: 0;
    z-index: 9999; /* Garante que o footer fique acima de todas as camadas */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

body > footer > button{
    color: white;
    background-color: red;
    border: none;
    font-weight: bold;
}

body > footer > button > span{
    color: white;
    font-weight: bold;
}

body > .modal{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.393);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

body > .modal > .conteudo_modal{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

body > .modal > .conteudo_modal > h2{
    margin: 0px;
    font-size: 1.40rem;
}

body > .modal > .conteudo_modal > p{
    font-weight: bold;
}

body > .modal > .conteudo_modal > input{
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 5px rgba(144, 144, 144, 0.69);
    padding: 15px;
}

body > .modal > .conteudo_modal > #nome_cliente{
    color: red;
    display: none;
}

body > .modal > .conteudo_modal > .buttons_modal{
    display: flex;
    justify-content: space-between;
}

body > .modal > .conteudo_modal > .buttons_modal > #fechar_modal{
    background-color: white;
    border: none;
    cursor: pointer;
}

body > .modal > .conteudo_modal > .buttons_modal > #checkout-btn{
    background-color: green;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 768px){
    body > .menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body > .menu > main,
    body > .menu > .bebidas{
        grid-template-columns: repeat(2, 1fr); /* Colunas em 2 */
        justify-items: center; /* Centraliza os itens */
        width: 70%;
    }

    body > .modal > .conteudo_modal{
        width: 600px;
    }
}